@model BudgetingApp.Models.CreateEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CreateEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Planner.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Planner.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMembers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMembers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheBudgetOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheBudgetOfEvent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("See Activites", "Index", "MadeActivites")
</p>
